html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: -3px 5px 5px 5px;
}
.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #dee1e6;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 20px 0 7px;
}
.header a {
  color: #236cf2;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}
.header a:visited {
  color: #236cf2;
}
.actions {
  display: inline;
  border-left: 1px solid #f5f5f5;
  margin-left: 75px;
  margin-right: auto;
  padding: 7px 17px;
}
.actions select {
  font-size: 12px;
  background-color: #d3d3d3;
  border: 1px solid black;
  position: relative;
  top: -6px;
}
.actions select:focus {
  outline: none;
}
.actions input[type=image] {
  width: 20px;
  margin-left: 9px;
}
.actions input[type=image]:focus {
  outline: none;
}
.actions input[type=image]:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.actions input[type=image]:disabled:hover {
  -webkit-transform: none;
  transform: none;
}
.actions input[type=image]:disabled {
  opacity: .5;
}
.actions input[type=range] {
  width: 80px;
  height: 2px;
  position: relative;
  top: -9px;
  background-color: black;
  cursor: pointer;
  -webkit-appearance: none;
}
.actions input[type=range]:focus {
  outline: none;
}
.actions input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: black;
}
.actions input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #202020;
  margin-top: -4px;
}
.actions input[type=range]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #202020;
}
.mode-toggle {
  position: relative;
  top: -3px;
  margin-left: 10px;
  padding: 1px 5px 0 3px;
  border-radius: 3px;
  border: 1px solid #808080;
  cursor: pointer;
}
.mode-toggle input[type=image] {
  width: 12px;
  margin-left: 0;
}

.unselected {
  opacity: .5;
}

.container {
  display: flex;
  height: calc(100vh - 68px); /* TODO: why +8? */
  margin: 0;
}
.diagram {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
  padding: 3px;
  user-select: none;
}
.diagram > canvas {
  height: 100%;
  width: 100%;
}

/* customized flowbee styles */
.flowbee-tree {
  border-right: 2px ridge #e7e7e7;
  padding: 3px 0 3px 7px;
}
.flowbee-toolbox {
  border-left: 3px ridge #e7e7e7;
  padding: 3px;
  min-width: 120px;
}
.flowbee-configurator {
  width: 850px;
  height: 200px;
  left: 355px;
  bottom: 35px;
}

.popup {
  display: none;
}
.popup.is-open {
  display: block;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-container {
  background-color: #ffffff;
  padding: 20px;
  max-width: 75%;
  min-width: 350px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.1;
  color: #00449e;
  box-sizing: border-box;
}
.popup-close {
  background: transparent;
  border: 0;
}
.popup-header .popup-close:before { content: "\2715"; }
.popup-content {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}
.popup-text {
  padding: 5px;
  overflow-x: auto;
  white-space: pre;
}
.popup-footer {
  text-align: right;
}
.popup-btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  margin-left: 5px;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
.popup-btn:focus, .popup-btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.popup-btn-primary {
  background-color: #00449e;
  color: #fff;
}
@keyframes mmfadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes mmfadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes mmslideIn {
from { transform: translateY(15%); }
  to { transform: translateY(0); }
}
@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}
.popup-slide {
  display: none;
}
.popup-slide.is-open {
  display: block;
}
.popup-slide[aria-hidden="false"] .popup-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.popup-slide[aria-hidden="false"] .popup-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}
.popup-slide[aria-hidden="true"] .popup-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.popup-slide[aria-hidden="true"] .popup-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}
.popup-slide .popup-container,
.popup-slide .popup-overlay {
  will-change: transform;
}
