html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  height: calc(100vh - 8px); /* TODO: why */
  margin: 0;
}
.diagram {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
  padding: 3px;
}

/* customized flowbee styles */
.flowbee-tree {
  border-right: 2px ridge #e7e7e7;
  padding: 3px 0 3px 7px;
}
.flowbee-toolbox {
  border-left: 3px ridge #e7e7e7;
  padding: 3px 0;
}
.flowbee-diagram-light .title {
  visibility: visible; /* temp until header */
}

